<?xml version="1.0"?>
<robot name="bicycle_drive" xmlns:xacro="http://ros.org/wiki/xacro">

    <ros2_control name="RealRobot" type="system">
        <hardware>
            <plugin>bicycledrive_arduino/BicycleDriveArduinoHardware</plugin>
            <param name="front_wheel_name">steering_joint</param>
            <param name="rear_wheel_name">traction_joint</param>
            <param name="loop_rate">30</param>
            <param name="device">/dev/ttyACM0</param>
            <param name="baud_rate">9600</param>
            <param name="timeout_ms">1000</param>
            <param name="enc_counts_per_rev">8</param>
        </hardware>

        <joint name="steering_joint">
            <command_interface name="position" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>

        <joint name="traction_joint">
            <command_interface name="velocity" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>

    </ros2_control>

</robot>